.mainContent {
    position:absolute;
    top:13%;
    left:8%;
    background-color:white;
    width:88%;
    height:69%;
    border-radius: 45px 0 0 0;
    z-index:15;
    box-shadow:0 4px 8px 0 rgba(0,0,0,1);
    overflow: auto;
    padding:3% 2%;
  }

  .cardTemplate {
    width:250px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0,0.5);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding:2px;
    padding-left:15px;
    padding-right:15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 15px;
    height: 100px;
    cursor: pointer;
  }

  .backShader {
    background-color: rgba(0, 0, 0, 0.753);
    position: absolute;
    left:0;
    top:0;
    z-index:999;
    width:100%;
    height:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.753);
  }

  .PatDetail {
    background-color: white;
    position: absolute;
    left:15%;
    top:10%;
    z-index:20;
    width:62%;
    height:72%;
    Padding:4%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .close {
    font-size: 80px;
    color: white;
    position: absolute;
    left:86%;
    top:8%;
    z-index:20;
    transition: transform .2s;
    cursor: pointer;
  }

  .close:hover {
    transform: scale(1.4);
  }
  
  .appointmentTemplate { 
    width:170px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0,0.5);
    background-color: rgb(255, 255, 255);
    padding:10%;
    margin-bottom: 5px;
    margin-right: 50px;
    height: 50px;
    font-size:15px;
  }

  .mainContent {
    position:absolute;
    top:13%;
    left:8%;
    background-color:white;
    width:88%;
    height:73%;
    border-radius: 45px 0 0 0;
    z-index:18;
    box-shadow:0 4px 8px 0 rgba(0,0,0,1);
    overflow: auto;
    padding:1% 2%;
  }



  .shiftTable {
    width:70%;
    float:right;
    height: 575px;
    overflow: auto;
  }

  .doctorTemplate {
    width:300px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0,0.5);
    background-color: rgb(255, 255, 255);
    padding:2px;
    margin-bottom: 5px;
    height: 80px;
    cursor: pointer;
  }

  .backShader {
    background-color: rgba(0, 0, 0, 0.753);
    position: absolute;
    left:0;
    top:0;
    z-index:999;
    width:100%;
    height:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.753);
  }

  .PatDetail {
    background-color: white;
    position: absolute;
    left:15%;
    top:10%;
    z-index:20;
    width:62%;
    height:72%;
    Padding:4%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .close {
    font-size: 80px;
    color: white;
    position: absolute;
    left:86%;
    top:8%;
    z-index:20;
    transition: transform .2s;
    cursor: pointer;
  }

  .close:hover {
    transform: scale(1.4);
  }

  .tab {
    overflow: hidden;
    background-color: #ffffff;
    margin-top: 10px;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 15px;
    font-weight: bold;
    color:rgba(0, 0, 0, 0.212);
    width: 300px;
    
  }

  .tab button:hover {
    color: rgba(13,149,176,1);
    font-weight: bold;
  }

  .tab button.active {
    color: rgba(13,149,176,1);
    font-weight: bold;
    border-bottom: solid 2px rgba(13,149,176,1);
  }

  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    margin-top: 10px;
  }

  .tabcontentMain {
    display: block;
    padding: 6px 12px;
    border-top: none;
    margin-top: 20px;
  }

  .blockMedical {
    width:45%;
    height:150px;
  }

  .backShader2 {
    background-color: rgba(0, 0, 0, 0.753);
    position: absolute;
    left:0;
    top:0;
    z-index:20;
    width:100%;
    height:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.753);
  }

  .addPat {
    background-color: white;
    position: absolute;
    left:20%;
    top:10%;
    z-index:20;
    width:50%;
    height:40%;
    Padding:2% 4%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

.inputAddPat {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: calibri;
    border: 1px solid #aaaaaa;
  }
.buttonAddPat {
    background-color: rgba(13,149,176,1);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
  }

  .shiftTable table tr td {
    text-align: center;
  }

  .result, .result td, .result th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .result {
    border-collapse: collapse;
    width: 100%;
  }
  
  .result th, .result td {
    padding: 15px;
  }
