<div class="loginContainer">
    <div class="logbox">
      <img class="logocss" src="../assets/img/logod.png" alt="AGT BANK LOGO" width="50%">
  
      <form class="credentials" (ngSubmit)="onSubmit(signInForm)" #signInForm="ngForm">
        <label class="headlogin">Enter your details below to continue:</label><br><br>
        <input class="inputcss" name="accno" type="text" placeholder="Account Number" required autofocus ngModel><br>
        <input class="inputcss" name="password" style="margin-top:5px" type="password" placeholder="Password" required ngModel><br><br><br>
        <button type="submit" class="loginbtn">Login</button>
      </form>
  
    </div>
  </div>  