.mainContent {
    position:absolute;
    top:13%;
    left:8%;
    background-color:white;
    width:88%;
    height:69%;
    border-radius: 45px 0 0 0;
    z-index:15;
    box-shadow:0 4px 8px 0 rgba(0,0,0,1);
    overflow: auto;
    padding:3% 2%;
  }